*{
	margin: 0;
	padding: 0;
}
#main{
	margin:0 auto;
	position: relative;
}
.box{
	float:left;
	padding: 10px;
}
.box div{
	border: 1px solid #333;
	font-size: 0;     /*去掉div底部与img的空白*/
	border-radius: 5px;
	padding: 10px;
}
.box:first-line{

}
.box img{
	width: 200px;
}